@font-face {
    font-family: 'snes';
    src: url('../../assets/fonts/snes-font/snes.ttf');
}

.title{
    font-family: snes;
    margin-top: 7%;
    margin-bottom: 5%;
    letter-spacing: 0px;
}

$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: white;
$back: rgb(134, 82, 255);
html{
	background: white;
}

.popout{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 10vw;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}
	}
	
}

ion-toolbar{
    --background: transparent;
}

.wrongButtonMsg{
    color: white;
    background-color: white !important;
    background: white !important;
}

ion-button{
    width: 85vw;
}

ion-card-header{
    padding-bottom: 0;
}

ion-list{
    padding-top: 0;
    padding-bottom: 0;
}

ion-item-options{
    background-color: #5124bb;
}

.btnCard{
    border: none !important;
    box-shadow: none !important;
}